*{
margin: 0;
}
.App{
  background-color:#fafafa;
  height: 100vh;


}
.app__headerimage{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  margin-bottom: 10px;


}
